.main-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  align-items: center;
  justify-content: flex-start;
}

.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  align-items: center;
  justify-content: flex-start;
}

.main-header {
  width: 100%;
  display: flex;
  background-color: rgb(247, 247, 247);
  align-items: center;
  justify-content: flex-start;
}

.main-logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 1rem 0;
}

.main-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-content {
  width: 100%;
  display: flex;
  background-color: rgb(247, 247, 247);
  align-items: flex-start;
  justify-content: space-between;
}

.hero-img {
  width: 50%;
}

.hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-form {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(0, 151, 158);
}

.hero-title span {
  color: rgb(241, 90, 34);
}

.form-container {
  margin-top: 0.8rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: rgb(247, 247, 247);
}

.form-title {
  background-color: rgb(241, 90, 34);
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1rem;
  color: white;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.input-text,
.submit-button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e6ea;
}
.input-text {
  box-shadow: inset 0 0.25rem 0.5rem #e2e6ea;
}

.checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 2rem;
  justify-content: space-between;
}

.checkbox-container input {
  width: 7%;
}

.checkbox-container label {
  font-size: 1rem;
  width: 90%;
}

.submit-button {
  background-color: #f8a800;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold;
  line-height: 2rem;
}

@media (width<=800px) {
  .main-content {
    width: 90%;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
  }

  .hero-header {
    order: 0;
    width: 100%;
  }

  .hero-img {
    order: 3;
    width: 100%;
  }

  .hero-form {
    order: 2;
    width: 100%;
  }

  .form-container {
    width: 90%;
  }

  .hero-title {
    font-size: 2rem;
  }
}
